# Configuracion SQL Server (BD de afiliados - produccion)
DB_SERVER=nombre-o-ip-del-servidor-sql
DB_NAME=nombre-de-la-base
DB_DRIVER=ODBC Driver 17 for SQL Server
DB_USER=usuario-sql-server
DB_PASSWORD=contraseña-sql-server

# Configuracion PostgreSQL (auditoria + usuarios)
PG_HOST=localhost
PG_PORT=5432
PG_NAME=obrasocial
PG_USER=tu-usuario-pg
PG_PASSWORD=tu-contraseña-pg

# JWT
JWT_SECRET=cambiar-por-un-secreto-seguro
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=480
