# Configuración SQL Server
DB_SERVER=tu-servidor-sql
DB_NAME=tu-base-de-datos
DB_DRIVER=ODBC Driver 17 for SQL Server
# Completar con usuario y contraseña de SQL Server Authentication
DB_USER=tu-usuario
DB_PASSWORD=tu-contraseña

# Configuración PostgreSQL (auditoría)
PG_HOST=localhost
PG_PORT=5433
PG_NAME=obrasocial
PG_USER=tu-usuario-pg
PG_PASSWORD=tu-contraseña-pg
